.produto-cl{
    width: 50%;
}

.produto-cr{
    width: 50%;
    margin-bottom: 70px;
}

.produto-cl img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
 }

.produto-cr p{
    font-weight: 26px;
    font-weight: lighter;
    color: darkred;
    margin-bottom: 70px;
}

.preco-unidade{
    font-size: 15px;
}

.botao{
    text-decoration: none;
    color: white;
    background-color: darkred;
    padding: 12px;
    font-weight: bold;
    border-radius: 7px;
}